<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        TODO List
      </a>
    </div>
  </nav>

  <div class="nova-tarefa m-4">
    <div class="input-group mb-3">
      <input #nomeTarefa type="text" class="form-control" placeholder="Descrição da tarefa" aria-label="Descrição da tarefa" aria-describedby="button-addon2">
      <button (click)="criarTarefa(nomeTarefa.value)" class="btn btn-primary" type="button">Criar tarefa</button>
    </div>

  </div>
  <div class="container mt-4 d-flex justify-content-center">
    <div class="col-4 card">
      <div class="card-header">
        A Fazer
      </div>
      <ul class="list-group list-group-flush">
        <ng-container *ngFor="let task of tasks$ | async">
          <li *ngIf="task.status === 'TODO'" class="list-group-item d-flex justify-content-between align-items-center" >
            {{task.nome}}
            <button (click)="iniciarTarefa(task)" type="button" class="btn btn-outline-primary">Iniciar</button>
          </li>
        </ng-container>
      </ul>
    </div>

    <div class="ml-4 ms-4 col-4 card">
      <div class="card-header">
        Executando
      </div>
      <ul class="list-group list-group-flush">
        <ng-container *ngFor="let task of tasks$ | async">
          <li *ngIf="task.status === 'DOING'" class="list-group-item d-flex justify-content-between align-items-center">
            Another item
            <button type="button" class="btn btn-outline-success">Finalizar</button>
          </li>
        </ng-container>
      </ul>
    </div>

  </div>
